.App {
  text-align: center;
  font-size: 32px;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  border: 20px solid blueviolet;
  border-radius: 50px;

}
.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 20px;
  border: 10px solid rgb(252, 244, 132);
  text-align: center;
  border-radius: 200px;
  
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  border: 10px solid orange;
  border-radius: 75px;
  
}
img {
  float: left;
  width: 200px;
  height: 200px;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 200px;
 
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS", "cursive", "sans-serif";
  
}

h3 {
  text-shadow: 2px 2px rgb(112, 162, 218);

}

header {
  text-shadow: 2px 2px rgb(112, 162, 218);
  font-size: 50px;

}

body {
  background-color: pink;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

button {
  text-shadow: 2px 2px #FF0000;

}

nav {
  font-family: cursive;
  font-size: 29px;
  background-color: aqua;
  background-origin: padding-box 20px;
}

form {
  font-size: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
