.App {
  text-align: center;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-flow: column-reverse;
  border: 20px solid blueviolet;
  border-radius: 100px;

}
.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-shrink: 20px;
  border: 10px solid green;
  text-align: center;
  
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  border: 10px solid orange;
  
}
img {
  float: left;
  position: relative;
  width: 250px;
  height: 150px;
  border: 15px solid white;
  border-radius: 200px;
 
}

h2 {
  text-align: justify;
  font-family: "Comic Sans MS", "cursive", "sans-serif";
  
}

h3 {
  text-shadow: 2px 2px rgb(112, 162, 218);

}

b {
  text-decoration-line: underline;
  text-shadow: 2px 2px rgb(112, 162, 218);

}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

button {
  text-shadow: 2px 2px #FF0000;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
